@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Mukta:wght@300&family=Rubik&display=swap");

* {
	box-sizing: border-box;
	margin: 0px;
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(254deg, #cf7ae5, #7a8de5, #7aa9e5, #e57ada);
	background-size: 800% 800%;

	animation: GradientBG 16s ease infinite;
	overflow-x: hidden;
}

body#blank {
	background: white;
	overflow-x: hidden;
}

@keyframes GradientBG {
	0% {
		background-position: 0% 11%;
	}
	50% {
		background-position: 100% 90%;
	}
	100% {
		background-position: 0% 11%;
	}
}

h1 {
	font-family: "League Spartan", sans-serif;
	font-size: 12em;
	color: #fff;
}

h2 {
	font-family: "League Spartan", sans-serif;
	font-size: 3em;
	color: #fff;
	margin-bottom: 1rem;
}

p {
	font-family: "Rubik", sans-serif;
	color: rgba(255, 255, 255, 0.724);
	font-size: 2em;
	padding-bottom: 2rem;
}

.black {
	color: rgba(0, 0, 0, 0.778);
}

nav {
	justify-content: space-between; /* 2 */
	padding: 1rem;
	float: left;
	width: 100vw;
}

nav.black > ul > li a {
	color: black;
}

ul {
	display: flex;
	list-style: none;
	padding: 0;
}

ul#right {
	float: right;
}

ul#left {
	float: left;
}

ul#contact-list {
	display: inline-block;
}

nav li {
	padding-left: 1rem;
	padding-right: 1rem;
}

nav a {
	text-decoration: none;
	font-family: "Rubik", sans-serif;
	font-size: 1.5rem;
	color: #fff;
}

li a {
	text-decoration: none;
	font-family: "Rubik", sans-serif;
	font-size: 1.3rem;
	color: #fff;
}

a {
	display: block;
	position: relative;
	padding: 0.2em 0;
}

li a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: white;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

nav.black > ul > li a::after {
	background-color: black;
}

li a::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}

li a:hover::after,
li a:focus::after {
	transform: scale(1);
}

div#landing {
	width: 100vw;
	height: 100vh;
	padding-top: 30vh;
	text-align: center;
	justify-content: center;
	align-items: center;
}

div#grid {
	margin-top: 10vh;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
}

div#about-me {
	width: 100vw;
	height: 70vh;
	display: flex;
}

div#left-text {
	width: 40vw;
	margin: 10vh;
}

img {
	width: 30vw;
	height: 30vw;
	margin: 10vh;
	padding: auto;
}

div#contact-me {
	padding-top: 40vh;
	width: 100vw;
	height: 80vh;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 9;
	left: 50%;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation: fade_move_down 4s ease-in-out infinite;
	animation: fade_move_down 4s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
	0% {
		-webkit-transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}
@-moz-keyframes fade_move_down {
	0% {
		-moz-transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}
@keyframes fade_move_down {
	0% {
		transform: translate(0, -10px) rotate(45deg);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(0, 10px) rotate(45deg);
		opacity: 0;
	}
}
